{
    "ollama": {
        "url": "http://127.0.0.1:11434/api/generate",
        "model": "gemma3:latest",
        "stream": false,
        "auth_token": "API_KEY_LOCAL_OLLAMA",
        "response_language": "EN"
    },
    "inbox_email": {
        "server": "SERVER-INBOX.DOMAIN.COM",
        "port": 993,
        "username": "EMAIL@DOMAIN.COM",
        "password": "PASSWORD",
        "ssl": true,
        "eml_folder": "emails_eml",
        "processed_folder": "eml-processed",
        "interval": 60
    },
    "sender_email": {
        "server": "SMTP.SERVER.DOMAIN.COM",
        "email": "EMAIL-SENDER@DOMAIN.COM",
        "port": 587,
        "username": "USERNAME",
        "password": "PASSWORD"
    },
    "virus_total": {
        "enabled": false,
        "api_key": "API_KEY_VIRUS_TOTAL"
    },
    "google_safe_browsing": {
        "enabled": true,
        "api_key": "API_KEY_GOOGLE_SAFE_BROWSING"
    },
    "dkim": {
        "enabled": true
    },
    "max_threads": 4,
    "template_path": "./email_main/static/",
    "send_alerts": false
}