# ====== OLLAMA LLM API CONFIGURATION ======
OLLAMA_URL=http://127.0.0.1:11434/api/generate
OLLAMA_MODEL=gemma3:latest
OLLAMA_STREAM=false
OLLAMA_AUTH_TOKEN=API_KEY_LOCAL_OLLAMA
OLLAMA_RESPONSE_LANGUAGE=EN

# ====== INBOX EMAIL SETTINGS ======
INBOX_SERVER=SERVER-INBOX.DOMAIN.COM
INBOX_PORT=993
INBOX_USERNAME=EMAIL@DOMAIN.COM
INBOX_PASSWORD=PASSWORD
INBOX_SSL=true
INBOX_EML_FOLDER=emails_eml
INBOX_PROCESSED_FOLDER=eml-processed
INBOX_CHECK_INTERVAL=60

# ====== SENDER EMAIL (SMTP) SETTINGS ======
SENDER_SERVER=SMTP.SERVER.DOMAIN.COM
SENDER_EMAIL=EMAIL-SENDER@DOMAIN.COM
SENDER_PORT=587
SENDER_USERNAME=USERNAME
SENDER_PASSWORD=PASSWORD

# ====== VIRUS TOTAL API SETTINGS ======
VIRUS_TOTAL_ENABLED=false
VIRUS_TOTAL_API_KEY=API_KEY_VIRUS_TOTAL

# ====== GOOGLE SAFE BROWSING API SETTINGS ======
GOOGLE_SAFE_BROWSING_ENABLED=true
GOOGLE_SAFE_BROWSING_API_KEY=API_KEY_GOOGLE_SAFE_BROWSING

# ====== DKIM VERIFICATION ======
DKIM_ENABLED=true

# ====== APPLICATION SETTINGS ======
MAX_THREADS=4
TEMPLATE_PATH=./email_main/static/
SEND_ALERTS=false
ALERT_TEMPLATE=alert_en.html
